<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Document</title>
</head>
<body class="d-flex justify-content-center align-items-center">
    <div class="container border shadow">
        <div class="row">
            <div class="glassmorphism col-6 d-flex justify-content-center align-items-center p-0">
                <img src="/img/carpool.png" width="100%" alt="">
            </div>
            <div class="col-6 text-center bg-white">
                <form class="d-flex flex-column justify-content-center align-items-center" action="/" method="POST">
                    <h1 class="mb-4">Register/Login</h1>
                    <div class="d-flex flex-column">
                        <input class="input mt-3 mb-1" type="text" placeholder="Username" name="username">
                        <input class="input mt-2 mb-3" type="password" placeholder="Password" name="password">
                        <button class="align-self-start mb-1 carpool-button" type="submit">Carpool!</button>
                        <div class="text-start mt-3">
                            <a href="">Forgot password?</a>
                            <br>
                            <a href="">GitHub Repository</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>