body {
    background: url("/img/bg.png") no-repeat center center/cover;
    min-height: 100vh;
}

.container {
    border-radius: 15px !important;
}

.row {
    height: 70vh;
}

.bg-white {
    background-color: #fff;
}

form {
    height: 100%;
}

form .d-flex {
    width: 60%;
}

.zoom-effect-container {
    position: relative;
    overflow: hidden;
}

.image-card {
    position: absolute;
}

.image-card img {
    transition: 0.4s;
}

.zoom-effect-container:hover .image-card img {
    transform: scale(1.05);
}
